<script
  type="application/javascript"
  src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"
></script>
<script>
  var config = {
    startOnLoad: true,
    theme: '{{ with site.Params.mermaid.theme }}{{ . }}{{ else }}default{{ end }}',
    align: '{{ with site.Params.mermaid.align }}{{ . }}{{ else }}center{{ end }}',
    flowchart: {
      curve: 'basis',
      padding: 15
    },
    timeline: {
      useWidth: 800,
      padding: 20
    },
    radar: {
      curveTension: 0.4
    }
  };
  mermaid.initialize(config);
</script>
